body {
    background-color: #f7f7f7;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    background-color: white; 
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
}

.btn-block {
    margin-top: 20px;
    width: 90%;
    margin: auto;
}

.eye-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(45%);
    cursor: pointer;
}

.password-container {
    position: relative;
}